.place option:nth-child(1) {
	display: none;
}
.switch-version {
	position: fixed;
	top: 300px;
	right: 0;
	width: 65px;
	background: #fff;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.switch-version span{
	font-size: 52px !important;
	margin-left: 7px;
	cursor: pointer;
}

@media (min-width: 768px){
	.d-md-block {
		display: block!important;
	}
}

.close-login {
	float: right;
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1;
	color: rgba(255, 255, 255, 0.5);
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
	margin-top: -4px;
}

.lbl-title-vuelo{
	font-family: "Arial" !important;
}

.red-validate{
    border:red 1px dashed !important;
}

.red-validate-radio{
    outline:1px solid red;
}

.hide_column {
    display: none;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination > li {
        display: inline;
    }

    .pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
        color: #777;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #ddd;
    }

    .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
        z-index: 3;
        color: #9bb10f;
        background-color: #eee;
        border-color: #ddd;
    }


    .pagination > li:first-child > a, .pagination > li:first-child > span {
        margin-left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        /*font-family: "DinBold";*/
    }

    .pagination > li > a {
        background: #fafafa;
        color: #666;
    }

    .pagination > li > a, .pagination > li > span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #6c757d;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }

div.dataTables_filter {
    text-align: right;
    visibility: hidden;
    margin-top: -35px;
}
