﻿@{
    Layout = null;
}
@*Contenido del Usuario*@
<div class="col-xs-16" id="FormularioPerfil">
    <div class="panel-body help_color">
        <div class="row main-title">
            <div class="col-sm-6">
                <h2 class="inner-title">Perfiles</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-6">
                <button type="button" class="btn btn-primary pull-right btn-new" id="btnNuevoPerfil" onclick="nuevoPerfil()"><i class="fa fa-file"></i>&nbsp; Nuevo Perfil</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-12 control-label">Nombre :</label>
                    <div class="col-sm-12">
                        <input id="txtNombre_search" type="text" class="form-control" maxlength="70" placeholder="Buscar Nombre" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-12 control-label">Estado :</label>
                    <div class="col-sm-12">
                        <select id="selectEstado_search" class="form-control">
                            <option value="0">--Seleccione--</option>
                            <option value="1">Activo</option>
                            <option value="2">Inactivo</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-6">
                <div id="btnBuscarPerfil" class="btn btn-primary btn-sm pull-right" onclick="filtrarListaPerfil()"><i class="fa fa-search"></i>&nbsp;Buscar</div>
            </div>
            <div class="col-sm-6">
                <div id="btnLimpiarPerfil" class="btn btn-primary btn-sm pull-left" onclick="ClearPerfil()"><i class="fa fa-refresh"></i>&nbsp;Limpiar</div>
            </div>
        </div>
    </div>

</div>

@*lista de  clientes*@
<div id="listPerfil" class="container">
    <div class="box-body table-responsive col-sm-12">
        <div class="col-xs-16">
            <!--Aquí empieza el contenedor de secciones-->
            <div class="block-web">
                <div class="porlets-content">
                    <div class="panel-body help_color">
                        <table class="table table-bordered table-striped" id="tblListaPerfil" style="width:100%;overflow-x:scroll;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@{ Html.RenderPartial("form_perfil"); }