﻿@{
    Layout = "~/Views/Shared/_styles.cshtml";
}
<script src="~/assets/js/maintenance/contacto.js"></script>
<div class="hero-wrap js-fullheight" style="background-image: url('../../assets/img/fondo_5.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Inicio</a></span> <span>Contacto</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Contacto</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12 mb-4">
                <h2 class="h4">Contactenos</h2>
            </div>
            <div class="w-100"></div>
            <div class="col-md-3">
                <p><span>Direccion:</span>Av Marina 2340, San Miguel Lima Perú</p>
            </div>
            <div class="col-md-3">
                <p><span>Telefono:</span> <a href="tel://+513633999"> +51 363 3999</a></p>
            </div>
            <div class="col-md-3">
                <p><span>Email:</span> <a href="mailto:contactenos@respaq.com">contactenos@respaq.com/a></p>
            </div>
            <div class="col-md-3">
                <p><span>Website</span> <a href="#">respaq.com</a></p>
            </div>
        </div>
        <div class="row block-9">
            <div class="col-md-6 order-md-last pr-md-5">
                <form action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Tu nombre">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Tu Correo">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Asunto">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Mensaje"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Enviar mensaje" class="btn btn-primary py-3 px-5">
                    </div>
                </form>

            </div>

            <div class="col-md-6">
                <div id="map"></div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <h2>Suscribete a nuestro blog</h2>
                    <p>Para tener mas informacion de nuestros vuelos en tarifa baja o cuando se realizan temporadas enviamos notificaciones, ingresa tu correo para saber mas de ello.</p>
                    <div class="row d-flex justify-content-center mt-5">
                        <div class="col-md-12">
                            <form action="#" class="subscribe-form">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control" placeholder="Ingresa tu correo electronico">
                                    <input type="submit" value="Suscribete" class="submit px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>