﻿@{
    Layout = "~/Views/Shared/_styles.cshtml";
}
<script src="~/assets/js/maintenance/destino.js"></script>
<div class="hero-wrap js-fullheight" style="background-image: url('../assets/img/fondo_3.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Inicio</a></span> <span>Destino</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Destino</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 sidebar order-md-last ftco-animate">
                <div class="sidebar-wrap ftco-animate">
                    <h3 class="heading mb-4">Encontrar Destino</h3>
                    <form action="#">
                        <div class="fields">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Destino">
                            </div>
                            <div class="form-group">
                                <input type="text" id="checkin_date" class="form-control checkin_date" placeholder="Desde">
                            </div>
                            <div class="form-group">
                                <input type="text" id="checkout_date" class="form-control checkout_date" placeholder="Hasta">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Buscar" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    @*<div class="col-sm col-md-6 col-lg-4 ftco-animate">
                        <div class="destination">
                            <a href="destino-single.html" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../assets/img/destino_2.jpg);">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="icon-link"></span>
                                </div>
                            </a>
                            <div class="text p-3">
                                <div class="d-flex">
                                    <div class="one">
                                        <h3><a href="destino-single.html">Piura, Perú</a></h3>
                                    </div>
                                </div>
                                <p>La tierra del verano eterno, ofrece encantadores balnearios y playas</p>
                                <hr>
                                <p class="bottom-area d-flex">
                                    <span><i class="icon-map-o"></i> Piura, PE</span>
                                    <span class="ml-auto"><a href="destino-single.html">Descubre</a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                        <div class="destination">
                            <a href="destino-single.html" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../assets/img/fondo_1.jpg);">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="icon-link"></span>
                                </div>
                            </a>
                            <div class="text p-3">
                                <div class="d-flex">
                                    <div class="one">
                                        <h3><a href="destino-single.html">Cusco, Perú</a></h3>
                                    </div>
                                </div>
                                <p>Una ciudad en los Andes peruanos, fue capital del Imperio Inca.</p>
                                <hr>
                                <p class="bottom-area d-flex">
                                    <span><i class="icon-map-o"></i> Cusco, PE</span>
                                    <span class="ml-auto"><a href="destino-single.html">Descubre</a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                        <div class="destination">
                            <a href="destino-single.html" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../assets/img/destino_5.jpg);">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="icon-link"></span>
                                </div>
                            </a>
                            <div class="text p-3">
                                <div class="d-flex">
                                    <div class="one">
                                        <h3><a href="destino-single.html">Arequipa, Perú</a></h3>
                                    </div>
                                </div>
                                <p>La ciudad blanca de Perú, constituye un importante centro industrial.</p>
                                <hr>
                                <p class="bottom-area d-flex">
                                    <span><i class="icon-map-o"></i> Arequipa, PE</span>
                                    <span class="ml-auto"><a href="destino-single.html">Descubre</a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                        <div class="destination">
                            <a href="destino-single.html" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../assets/img/destino_1.jpg);">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="icon-link"></span>
                                </div>
                            </a>
                            <div class="text p-3">
                                <div class="d-flex">
                                    <div class="one">
                                        <h3><a href="destino-single.html">Bogota, Colombia</a></h3>
                                    </div>
                                </div>
                                <p>La ciudad de Bogotá es la capital de Colombia y el destino turístico del país.</p>
                                <hr>
                                <p class="bottom-area d-flex">
                                    <span><i class="icon-map-o"></i> Bogota, CO</span>
                                    <span class="ml-auto"><a href="destino-single.html">Descubre</a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                        <div class="destination">
                            <a href="destino-single.html" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../assets/img/destino_4.jpg);">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="icon-link"></span>
                                </div>
                            </a>
                            <div class="text p-3">
                                <div class="d-flex">
                                    <div class="one">
                                        <h3><a href="destino-single.html">Miami, USA</a></h3>
                                    </div>
                                </div>
                                <p>Miami es un centro importante y un líder en finanzas, comercio, medios de comunicación</p>
                                <hr>
                                <p class="bottom-area d-flex">
                                    <span><i class="icon-map-o"></i> Miami, USA</span>
                                    <span class="ml-auto"><a href="destino-single.html">Descubre</a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                        <div class="destination">
                            <a href="destino-single.html" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../assets/img/destino_6.jpg);">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="icon-link"></span>
                                </div>
                            </a>
                            <div class="text p-3">
                                <div class="d-flex">
                                    <div class="one">
                                        <h3><a href="destino-single.html">Chicago, USA</a></h3>
                                    </div>
                                </div>
                                <p>Una de las mayores grandes ciudades de USA, incluyendo sus actividades como museos.</p>
                                <hr>
                                <p class="bottom-area d-flex">
                                    <span><i class="icon-map-o"></i> Chicago, USA</span>
                                    <span class="ml-auto"><a href="destino-single.html">Descubre</a></span>
                                </p>
                            </div>
                        </div>
                    </div>*@
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            @*<ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&gt;</a></li>
                            </ul>*@
                        </div>
                    </div>
                </div>
            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section> <!-- .section -->

<section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <h2>Suscribete a nuestro blog</h2>
                    <p>Para tener mas informacion de nuestros vuelos en tarifa baja o cuando se realizan temporadas enviamos notificaciones, ingresa tu correo para saber mas de ello.</p>
                    <div class="row d-flex justify-content-center mt-5">
                        <div class="col-md-12">
                            <form action="#" class="subscribe-form">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control" placeholder="Ingresa tu correo electronico">
                                    <input type="submit" value="Suscribete" class="submit px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>