﻿@{
    Layout = "~/Views/Shared/_styles.cshtml";
}
<script src="~/assets/js/maintenance/nosotros.js"></script>

<div class="hero-wrap js-fullheight" style="background-image: url('../../assets/img/fondo_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Inicio</a></span> <span>Nosotros</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Nosotros</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="intro">
                    <h3><span>01</span> Vuelos</h3>
                    <p>Somos una empresa que permite realizar vuelos nacionales como internacionales. Todo lo trabajamos con puntualidad y realizamos el servicio de Call center para el apoyo requerido las 24 horas.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="intro">
                    <h3><span>02</span> Hoteles</h3>
                    <p>Contamos con la cadena mas grande de hoteles para poder hacer tu viaje inolvidable. Dentro de ello cuenta con varios servicios incluidos que hacen tu experiencia la mejor de todas.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="intro">
                    <h3><span>03</span> Renta de Vehiculos</h3>
                    <p>Tenemos a nuestra disponibilidad vehiculos de ultima generacion. Solicitamos la documentacion requerida para realizar tu experiencia uno de las mas inolvidables. De igual manera contamos con tecnicos a su disposicion las 24 horas</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(../../assets/img/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="5400">0</strong>
                                <span>cliente satisfechos</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="25">0</strong>
                                <span>Destinos</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="650">0</strong>
                                <span>Hoteles</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="72">0</strong>
                                <span>Autos</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-about d-md-flex">
    <div class="one-half img" style="background-image: url(../../assets/img/about.jpg);"></div>
    <div class="one-half ftco-animate">
        <div class="heading-section ftco-animate ">
            <h2 class="mb-4">Los Reservados</h2>
        </div>
        <div>
            <p>
                Somos un grupo de compañeros que hemos realizado el proyecto ResPaq. El curso es Sistemas Distribuidos - C41B , del profesor Carlos Alberto Flores Orihuela. Para este proyecto
                nos hemos enfocado en el tema de servicios que son hoteles, vuelos y renta de vehiculos. Para lo cual todo este trabajo lo hemos monitoreado desde que se realizo el proyecto y hemos tenido
                subidas y bajas. Pero ante todo la perseverancia de apoyarnos y terminar hemos hecho un proyecto que vale la pena un 20 :D
            </p>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <h2 class="mb-4">Nuestros clientes satisfechos dicen</h2>
                <p>La mayoria de nuestros cliente se toman el tiempo para cuestionar nuestros servicios, la mayoria siempre tiene un enfoque constructivo pero siempre agradeciendo todo el paquete que se le entrego. Muchas gracias ☺</p>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(../../assets/img/person_3.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">Agradecido con todo la reservacion , una atencion de primera y en verdad que con mi familia hemos recibido una satisfaccion enorme con toda la puntualidad del caso. No tengo duda que llegaran muy lejos con el sistema. Un consejo hagan el aplicativo</p>
                                <p class="name">Piero meiggs</p>
                                <span class="position">Jefe de Sistemas</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(../../assets/img/person_2.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">Felicitaciones por toda la gestion de mi reserva a Colombia, recibi de parte del hotel un descuento que no estaba incluido y eso era porque recibia la atencion por ustedes. Muy agradecido.</p>
                                <p class="name">Junior Huallullo</p>
                                <span class="position">Desarrollador Web</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(../../assets/img/person_1.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">La plataforma es muy estable , no encuentro fallas en el proceso de registrar una reserva, tengo la duda si es que existiran mas destinos, debido a que como trabajo viajando necesito algunas nuevas rutas para comercializar mis proyectos.</p>
                                <p class="name">Juan Carlos Verde</p>
                                <span class="position">UI Diseñador</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(../../assets/img/person_4.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">Hasta ahora es mi quinto viaje y destaco lo respetuoso que han sido conmigo , debido a que al momento de hacer el check-in tuve problemas y por parte de la empresa ResPaq tuve el asesoramiento debido antes de realizar mi vuelo , algo que nunca he tenido. Muchas gracias.</p>
                                <p class="name">Christian Rimay</p>
                                <span class="position">Desarrollador Web</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(../../assets/img/person_4.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">En todo el proceso la solicitud del auto fueron muy puntuales al momento de registrar y apoyarme en el servicio de la documentacion debido a que tengo otra nacionalidad tuve ciertos detalles pero gracias al asesoramiento via llamada fue un exito.</p>
                                <p class="name">Carlos Tupia</p>
                                <span class="position">Analista de Sistemas</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section services-section bg-light">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-yatch"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Actividades especiales</h3>
                        <p>
                            En todos los paquetes siempre incluye algunas actividades que se pueden
                            realizar por el destino que se solciita.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-around"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Viajes a largo plazo</h3>
                        <p>Se destaca los viajes en base a las paradas que se tiene en las diversos aeropuertos.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-compass"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Guia Privada</h3>
                        <p>Dentro de los paquete se destaca los taxis privados que se solicita al momento de arrivar. Aeropuerto  - Hotel.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-map-of-roads"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Locacion Turista</h3>
                        <p>La mayorias de los hoteles que tenemos en base a nuestra data estan severamente seleccionados cerca a plazas conocidas mundialmente.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <h2>Suscribete a nuestro blog</h2>
                    <p>Para tener mas informacion de nuestros vuelos en tarifa baja o cuando se realizan temporadas enviamos notificaciones, ingresa tu correo para saber mas de ello.</p>
                    <div class="row d-flex justify-content-center mt-5">
                        <div class="col-md-12">
                            <form action="#" class="subscribe-form">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control" placeholder="Ingresa tu correo electronico">
                                    <input type="submit" value="Suscribete" class="submit px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
