.place option:nth-child(1) {
	display: none;
}
.switch-version {
	position: fixed;
	top: 300px;
	right: 0;
	width: 65px;
	background: #fff;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.switch-version span{
	font-size: 52px !important;
	margin-left: 7px;
	cursor: pointer;
}

@media (min-width: 768px){
	.d-md-block {
		display: block!important;
	}
}

.close-login {
	float: right;
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1;
	color: rgba(255, 255, 255, 0.5);
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
	margin-top: -4px;
}

.lbl-title-vuelo{
	font-family: "Arial" !important;
}