﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="~/assets/img/favicon.ico" type="image/x-icon">
    <title>.::Sistema ResPaq::.</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">

    <link rel="stylesheet" href="~/assets/css/aos.css">

    <link rel="stylesheet" href="~/assets/css/ionicons.min.css">

    <link rel="stylesheet" href="~/assets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/assets/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/icomoon.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/jquery-confirm.css">
    <link href="~/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/assets/css/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="~/assets/js/lib/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            @if (HttpContext.Current.Session["IdUsuario"] != null)
            {
                if (HttpContext.Current.Session["tipoUsuario"].ToString() == "2")
                {
                    <a class="navbar-brand" href="/">ResPaq</a>
                }
                else
                {
                    if (HttpContext.Current.Session["tipoUsuario"].ToString() == "1")
                    {
                        <a class="navbar-brand" href="/Admin/lista_admin">ResPaq</a>
                    }
                    else
                    {
                        <a class="navbar-brand" href="/Proveedor/lista_proveedor">ResPaq</a>
                    }
                }
            }
            else
            {
                <a class="navbar-brand" href="/">ResPaq</a>
            }
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span>Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    @if (HttpContext.Current.Session["IdUsuario"] != null)
                    {
                        if (HttpContext.Current.Session["tipoUsuario"].ToString() == "2")
                        {
                            <li class="nav-item"><a href="/" class="nav-link">Inicio</a></li>
                            <li class="nav-item"><a href="../Seccion/nosotros" class="nav-link">Nosotros</a></li>
                            <li class="nav-item"><a href="../Seccion/destino" class="nav-link">Destino</a></li>
                            <li class="nav-item"><a href="../Seccion/hotel" class="nav-link">Hotel</a></li>
                            <li class="nav-item"><a href="../Seccion/vehiculo" class="nav-link">Vehiculo</a></li>
                            <li class="nav-item"><a href="../Seccion/contacto" class="nav-link">Contacto</a></li>
                        }
                        <li class="nav-item">
                            @if (HttpContext.Current.Session["IdUsuario"] != null)
                            {
                                <a id="cerrarSesion" class="nav-link" href="#">@HttpContext.Current.Session["nomUsuario"].ToString()  X</a>
                            }
                            else
                            {
                                <a href="#" id="btn-login" class="nav-link">Login</a>
                            }
                        </li>
                    }
                    else
                    {
                        <li class="nav-item"><a href="/" class="nav-link">Inicio</a></li>
                        <li class="nav-item"><a href="../Seccion/nosotros" class="nav-link">Nosotros</a></li>
                        <li class="nav-item"><a href="../Seccion/destino" class="nav-link">Destino</a></li>
                        <li class="nav-item"><a href="../Seccion/hotel" class="nav-link">Hotel</a></li>
                        <li class="nav-item"><a href="../Seccion/vehiculo" class="nav-link">Vehiculo</a></li>
                        <li class="nav-item"><a href="../Seccion/contacto" class="nav-link">Contacto</a></li>
                        <li class="nav-item"><a href="#" id="btn-login" class="nav-link">Login</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()

    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">ResPaq</h2>
                        <p>Empresa dedicada especialmente a la venta de reservas en Vuelos, Hoteles y renta de vehiculos. Nos especializamos en dar el mejor servicio al cliente.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">Informacion</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Nosotros</a></li>
                            <li><a href="#" class="py-2 d-block">Call Center</a></li>
                            <li><a href="#" class="py-2 d-block">Reclamaciones</a></li>
                            <li><a href="#" class="py-2 d-block">Consultas</a></li>
                            <li><a href="#" class="py-2 d-block">Terminos y Condiciones</a></li>
                            <li><a href="#" class="py-2 d-block">Politicas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Servicios</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Destinos</a></li>
                            <li><a href="#" class="py-2 d-block">Hoteles</a></li>
                            <li><a href="#" class="py-2 d-block">Renta de Vehiculos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Conocenos</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">Av Marina 2340, San Miguel Lima Perú</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+51 363 3999</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">contactenos@respaq.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#9bb10f" /></svg></div>

    <!-- Fin Modal -->


    <script src="~/assets/js/lib/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/assets/js/lib/popper.min.js"></script>
    <script src="~/assets/js/lib/bootstrap.min.js"></script>
    <script src="~/assets/js/lib/jquery.easing.1.3.js"></script>
    <script src="~/assets/js/lib/jquery.waypoints.min.js"></script>
    <script src="~/assets/js/lib/jquery.stellar.min.js"></script>
    <script src="~/assets/js/lib/owl.carousel.min.js"></script>
    <script src="~/assets/js/lib/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/lib/aos.js"></script>
    <script src="~/assets/js/lib/jquery.animateNumber.min.js"></script>
    <script src="~/assets/js/lib/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/lib/scrollax.min.js"></script>
    <script src="~/assets/js/lib/main.js"></script>
    <script src="~/assets/js/lib/bootstrap.min.js"></script>
    <script src="~/assets/js/lib/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/lib/common-script.js"></script>
    <script src="~/assets/js/lib/jquery.sparkline.js"></script>
    <script src="~/assets/js/lib/jquery-confirm.js"></script>
    <script src="~/assets/js/lib/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/lib/dataTables.bootstrap.min.js"></script>

    <script src="~/assets/plugins/toggle-switch/toggles.min.js"></script>

    <script src="~/assets/js/lib/jquery.plugins.min.js"></script>
    <script src="~/assets/js/lib/jquery.treeview.js"></script>
    @* Maintenance *@
    <script src="~/assets/js/lib/generic.js"></script>
    <script src="~/assets/js/maintenance/usuario.js"></script>
    <script src="~/assets/js/maintenance/perfil.js"></script>

    <script src="~/assets/js/lib-pdf/FileSaver.js"></script>
    <script src="~/assets/js/lib-pdf/jspdf.js"></script>
    <script src="~/assets/js/lib-pdf/jspdf.plugin.table.js"></script>


    <!-- Fixed -->
    <div class="switch-version d-none d-md-block">
        <div class="media services d-block">
            <div class="icon"><span class="flaticon-around"></span></div>
        </div>
    </div>

    <!-- Modal Login -->
    <div class="modal" tabindex="-1" role="dialog" id="modal-login">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Login</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body" id="form_usuario_login">
                    <div class="form-group">
                        <a href="../Usuario/nuevo_usuario" class="float-right">Nuevo Usuario?</a>
                        <label for="uname1">Usuario</label>
                        <input type="text" class="form-control form-control-lg required" name="us_login_path" id="us_login_path">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control form-control-lg required" id="us_pass_path" name="us_pass_path" autocomplete="new-password">
                    </div>
                    <div class="">
                        <input type="checkbox" id="us_tipo">
                        <label for="rememberMe">Proveedor</label>
                    </div>
                    <div class="form-group py-4">
                        <button class="btn btn-outline-secondary btn-lg" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                        <button class="btn btn-primary float-right" id="btnLogin" onclick="loginUsuario()">Ingresar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
