﻿@{
    Layout = "~/Views/Shared/_styles.cshtml";
}

<!--FIN DEL LEFT_NAV-->
<div class="contentpanel">
    <div class="hero-wrap js-fullheight" style="background-image: url('assets/img/fondo_1.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
                <div class="col-md-9 ftco-animate mb-5 pb-5 text-center text-md-left" data-scrollax=" properties: { translateY: '70%' }">
                    <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">ResPaq <br>Siempre atentos a ti</h1>
                    <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Encuentra viajes, hoteles, renta de vehiculos a tu comodidad</p>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section justify-content-end ftco-search">
        <div class="container-wrap ml-auto">
            <div class="row no-gutters">
                <div class="col-md-12 nav-link-wrap">
                    <div class="nav nav-pills justify-content-center text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Vuelos</a>
                        <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Hoteles</a>
                        <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Vehiculos</a>
                    </div>
                </div>
                <div class="col-md-12 tab-wrap">
                    <div class="tab-content p-4 px-5" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
                            <form action="#" class="search-destination">
                                <div class="row">
                                    
                                    <div class="col-md align-items-end">
                                        <div class="form-group">
                                            <label for="#">Destino</label>
                                            <div class="form-field">
                                                <div class="icon"><span class="icon-my_location"></span></div>
                                                <select class="form-control place" placeholder="Hasta">
                                                    <option value="0">Seleccione</option>
                                                    <optgroup label="Peru"><option value="1">Lima</option><option value="2">Piura</option><option value="3">Cusco</option><option value="4">Arequipa</option></optgroup>
                                                    <optgroup label="Colombia"><option value="5">Cartagena</option><option value="6">Bogota</option></optgroup>
                                                    <optgroup label="USA"><option value="7">New York</option><option value="8">Miami</option><option value="9">Chicago</option><option value="10">California</option></optgroup>
                                                    <optgroup label="Otros"><option value="11">Madrid</option><option value="12">Paris</option><option value="13">Amsterdam</option><option value="14">Roma</option></optgroup>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md align-items-end">
                                        <div class="form-group">
                                            <label for="#">Desde</label>
                                            <div class="form-field">
                                                <div class="icon"><span class="icon-map-marker"></span></div>
                                                <input type="text" class="form-control checkin_date" placeholder="yyyy/mm/dd">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md align-items-end">
                                        <div class="form-group">
                                            <label for="#">Hasta</label>
                                            <div class="form-field">
                                                <div class="icon"><span class="icon-map-marker"></span></div>
                                                <input type="text" class="form-control checkout_date" placeholder="yyyy/mm/dd">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md align-items-end">
                                        <div class="form-group">
                                            <label for="#">Pasajeros</label>
                                            <div class="form-field">
                                                <div class="select-wrap">
                                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                                    <select name="" id="" class="form-control">
                                                        <option value="">1</option>
                                                        <option value="">2</option>
                                                        <option value="">3</option>
                                                        <option value="">4</option>
                                                        <option value="">5</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md align-self-end">
                                        <div class="form-group">
                                            <div class="form-field">
                                                <input type="submit" value="Buscar" class="form-control btn btn-primary">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-performance-tab">
                            <form action="#" class="search-destination">
                                <div class="row">
                                    <div class="col-md align-items-end">
                                        <div class="form-group">
                                            <label for="#">Destino</label>
                                            <div class="form-field">
                                                <div class="icon"><span class="icon-my_location"></span></div>
                                                <select class="form-control place" placeholder="Destino">
                                                    <option value="0">Seleccione</option>
                                                    <optgroup label="Peru"><option value="1">Lima</option><option value="2">Piura</option><option value="3">Cusco</option><option value="4">Arequipa</option></optgroup>
                                                    <optgroup label="Colombia"><option value="5">Cartagena</option><option value="6">Bogota</option></optgroup>
                                                    <optgroup label="USA"><option value="7">New York</option><option value="8">Miami</option><option value="9">Chicago</option><option value="10">California</option></optgroup>
                                                    <optgroup label="Otros"><option value="11">Madrid</option><option value="12">Paris</option><option value="13">Amsterdam</option><option value="14">Roma</option></optgroup>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md align-items-end">
                                        <div class="form-group">
                                            <label for="#">Desde</label>
                                            <div class="form-field">
                                                <div class="icon"><span class="icon-map-marker"></span></div>
                                                <input type="text" class="form-control checkin_date" placeholder="yyyy/mm/dd">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md align-items-end">
                                        <div class="form-group">
                                            <label for="#">Hasta</label>
                                            <div class="form-field">
                                                <div class="icon"><span class="icon-map-marker"></span></div>
                                                <input type="text" class="form-control checkout_date" placeholder="yyyy/mm/dd">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md align-items-end">
                                        <div class="form-group">
                                            <label for="#">Huespedes</label>
                                            <div class="form-field">
                                                <div class="select-wrap">
                                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                                    <select name="" id="" class="form-control">
                                                        <option value="">1</option>
                                                        <option value="">2</option>
                                                        <option value="">3</option>
                                                        <option value="">4</option>
                                                        <option value="">5</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md align-self-end">
                                        <div class="form-group">
                                            <div class="form-field">
                                                <input type="submit" value="Buscar" class="form-control btn btn-primary">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-effect-tab">
                            <form action="#" class="search-destination">
                                <div class="row">
                                    <div class="col-md align-items-end">
                                        <div class="form-group">
                                            <label for="#">Destino</label>
                                            <div class="form-field">
                                                <div class="icon"><span class="icon-my_location"></span></div>
                                                <select class="form-control place" placeholder="Destino">
                                                    <option value="0">Seleccione</option>
                                                    <optgroup label="Peru"><option value="1">Lima</option><option value="2">Piura</option><option value="3">Cusco</option><option value="4">Arequipa</option></optgroup>
                                                    <optgroup label="Colombia"><option value="5">Cartagena</option><option value="6">Bogota</option></optgroup>
                                                    <optgroup label="USA"><option value="7">New York</option><option value="8">Miami</option><option value="9">Chicago</option><option value="10">California</option></optgroup>
                                                    <optgroup label="Otros"><option value="11">Madrid</option><option value="12">Paris</option><option value="13">Amsterdam</option><option value="14">Roma</option></optgroup>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md align-items-end">
                                        <div class="form-group">
                                            <label for="#">Desde</label>
                                            <div class="form-field">
                                                <div class="icon"><span class="icon-map-marker"></span></div>
                                                <input type="text" class="form-control checkin_date" placeholder="yyyy/mm/dd">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md align-items-end">
                                        <div class="form-group">
                                            <label for="#">Hasta</label>
                                            <div class="form-field">
                                                <div class="icon"><span class="icon-map-marker"></span></div>
                                                <input type="text" class="form-control checkout_date" placeholder="yyyy/mm/dd">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md align-self-end">
                                        <div class="form-group">
                                            <div class="form-field">
                                                <input type="submit" value="Buscar" class="form-control btn btn-primary">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h2 class="mb-4">Destinos Populares</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                @*<div class="col-sm col-md-6 col-lg ftco-animate">
                    <div class="destination">
                        <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/destino_1.jpg);">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-link"></span>
                            </div>
                        </a>
                        <div class="text p-3">
                            <div class="d-flex">
                                <div class="one">
                                    <h3><a href="#">Bogota, Colombia</a></h3>
                                </div>
                            </div>
                            <p>La ciudad de Bogotá es la capital de la República de Colombia y el principal destino turístico del país, pues cuenta con diversas actividades y acervos culturales, es sede de importantes universidades, y acoge eventos de nivel internacional</p>
                            <hr>
                            <p class="bottom-area d-flex">
                                <span><i class="icon-map-o"></i> Bogota, CO</span>
                                <span class="ml-auto"><a href="#">Descubre</a></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-md-6 col-lg ftco-animate">
                    <div class="destination d-md-flex flex-column-reverse">
                        <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/destino_2.jpg);">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-link"></span>
                            </div>
                        </a>
                        <div class="text p-3">
                            <div class="d-flex">
                                <div class="one">
                                    <h3><a href="#">Piura, Perú</a></h3>
                                </div>
                            </div>
                            <p>La tierra del verano eterno, ofrece al visitante encantadores balnearios y playas, ideales para la práctica de deportes acuáticos. Máncora, Colán, Los Órganos, Vichayito, Cabo Blanco o Lobitos, son el paraíso de tablistas de todo el mundo.</p>
                            <hr>
                            <p class="bottom-area d-flex">
                                <span><i class="icon-map-o"></i> Piura, PE</span>
                                <span class="ml-auto"><a href="#">Descubre</a></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-md-6 col-lg ftco-animate">
                    <div class="destination">
                        <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/destino_3.jpg);">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-link"></span>
                            </div>
                        </a>
                        <div class="text p-3">
                            <div class="d-flex">
                                <div class="one">
                                    <h3><a href="#">Ansterdam, Holanda</a></h3>
                                </div>
                            </div>
                            <p>Ámsterdam es la capital de los Países Bajos, conocida por su patrimonio artístico, su elaborado sistema de canales y casas estrechas con fachadas a dos aguas, legados de la Edad de Oro de la ciudad en el siglo XVII. El distrito de los museos alberga el Museo Van Gogh, obras de Rembrandt y Vermeer en el Rijksmuseum, y arte moderno en el Stedelijk.</p>
                            <hr>
                            <p class="bottom-area d-flex">
                                <span><i class="icon-map-o"></i> Ansterdam, HO</span>
                                <span class="ml-auto"><a href="#">Descubre</a></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-md-6 col-lg ftco-animate">
                    <div class="destination d-md-flex flex-column-reverse">
                        <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/destino_4.jpg);">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-link"></span>
                            </div>
                        </a>
                        <div class="text p-3">
                            <div class="d-flex">
                                <div class="one">
                                    <h3><a href="#">Miami, USA</a></h3>
                                </div>

                            </div>
                            <p>Miami es un centro importante y un líder en finanzas, comercio, cultura, medios de comunicación, entretenimiento, arte y comercio internacional. El área metropolitana de Miami es, con mucho, la economía urbana más grande de Florida y la 12ª más grande de los Estados Unidos con un PIB de $ 344.9 mil millones en 2017.</p>
                            <hr>
                            <p class="bottom-area d-flex">
                                <span><i class="icon-map-o"></i> Miami, USA</span>
                                <span class="ml-auto"><a href="#">Descubre</a></span>
                            </p>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </section>

    <section class="ftco-section services-section bg-light">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                        <div class="icon"><span class="flaticon-yatch"></span></div>
                        <div class="media-body">
                            <h3 class="heading mb-3">Actividades especiales</h3>
                            <p>
                                En todos los paquetes siempre incluye algunas actividades que se pueden
                                realizar por el destino que se solciita.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                        <div class="icon"><span class="flaticon-around"></span></div>
                        <div class="media-body">
                            <h3 class="heading mb-3">Viajes a largo plazo</h3>
                            <p>Se destaca los viajes en base a las paradas que se tiene en las diversos aeropuertos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                        <div class="icon"><span class="flaticon-compass"></span></div>
                        <div class="media-body">
                            <h3 class="heading mb-3">Guia Privada</h3>
                            <p>Dentro de los paquete se destaca los taxis privados que se solicita al momento de arrivar. Aeropuerto  - Hotel.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                        <div class="icon"><span class="flaticon-map-of-roads"></span></div>
                        <div class="media-body">
                            <h3 class="heading mb-3">Locacion Turista</h3>
                            <p>La mayorias de los hoteles que tenemos en base a nuestra data estan severamente seleccionados cerca a plazas conocidas mundialmente.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(assets/img/bg_1.jpg);" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="5400">0</strong>
                                    <span>cliente satisfechos</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="25">0</strong>
                                    <span>Destinos</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="650">0</strong>
                                    <span>Hoteles</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="72">0</strong>
                                    <span>Autos</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h2 class="mb-4"><strong>Hoteles</strong> populares</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                @*<div class="col-sm col-md-6 col-lg ftco-animate">
                    <div class="destination">
                        <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/hotel-1.jpg);">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-link"></span>
                            </div>
                        </a>
                        <div class="text p-3">
                            <div class="d-flex">
                                <div class="one">
                                    <h3><a href="#">Marriot, Hotel</a></h3>
                                    <p class="rate">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star-o"></i>
                                        <span>8 Rating</span>
                                    </p>
                                </div>
                                <div class="two">
                                    <span class="price per-price">$40<br><small>/noche</small></span>
                                </div>
                            </div>
                            <p>Incluye piscina , atencion al cuarto , desayuno continental.</p>
                            <hr>
                            <p class="bottom-area d-flex">
                                <span><i class="icon-map-o"></i> Miami, USA</span>
                                <span class="ml-auto"><a href="#">Reservalo</a></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-md-6 col-lg ftco-animate">
                    <div class="destination d-md-flex flex-column-reverse">
                        <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/hotel-2.jpg);">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-link"></span>
                            </div>
                        </a>
                        <div class="text p-3">
                            <div class="d-flex">
                                <div class="one">
                                    <h3><a href="#">Marino, Hotel</a></h3>
                                    <p class="rate">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star-o"></i>
                                        <i class="icon-star-o"></i>
                                        <span>6 Rating</span>
                                    </p>
                                </div>
                                <div class="two">
                                    <span class="price per-price">$20<br><small>/noche</small></span>
                                </div>
                            </div>
                            <p>Incluye piscina , desayuno continental</p>
                            <hr>
                            <p class="bottom-area d-flex">
                                <span><i class="icon-map-o"></i> Piura, PE</span>
                                <span class="ml-auto"><a href="#">Reservalo</a></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-md-6 col-lg ftco-animate">
                    <div class="destination">
                        <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/hotel-3.jpg);">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-link"></span>
                            </div>
                        </a>
                        <div class="text p-3">
                            <div class="d-flex">
                                <div class="one">
                                    <h3><a href="#">Geminis, Hotel</a></h3>
                                    <p class="rate">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <span>10 Rating</span>
                                    </p>
                                </div>
                                <div class="two">
                                    <span class="price per-price">$55<br><small>/noche</small></span>
                                </div>
                            </div>
                            <p>Incluye estacionamiento, atencion al cliente, desayuno continental.</p>
                            <hr>
                            <p class="bottom-area d-flex">
                                <span><i class="icon-map-o"></i> Ansterdam, HO</span>
                                <span class="ml-auto"><a href="#">Reservalo</a></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-md-6 col-lg ftco-animate">
                    <div class="destination d-md-flex flex-column-reverse">
                        <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/hotel-4.jpg);">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-link"></span>
                            </div>
                        </a>
                        <div class="text p-3">
                            <div class="d-flex">
                                <div class="one">
                                    <h3><a href="#">La Choza, Hotel</a></h3>
                                    <p class="rate">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <span>10 Rating</span>
                                    </p>
                                </div>
                                <div class="two">
                                    <span class="price per-price">$40<br><small>/noche</small></span>
                                </div>
                            </div>
                            <p>Incluye estacionamiento, piscina , atencion al cliente, desayuno continental.</p>
                            <hr>
                            <p class="bottom-area d-flex">
                                <span><i class="icon-map-o"></i> Bogota, CO</span>
                                <span class="ml-auto"><a href="#">Reservalo</a></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-md-6 col-lg ftco-animate">
                    <div class="destination">
                        <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/hotel-5.jpg);">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-link"></span>
                            </div>
                        </a>
                        <div class="text p-3">
                            <div class="d-flex">
                                <div class="one">
                                    <h3><a href="#">Trump, Hotel</a></h3>
                                    <p class="rate">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star-o"></i>
                                        <span>10 Rating</span>
                                    </p>
                                </div>
                                <div class="two">
                                    <span class="price per-price">$150<br><small>/night</small></span>
                                </div>
                            </div>
                            <p>Incluye estacionamiento, atencion al cliente, piscina , gimnasio, desayuno y buffet.</p>
                            <hr>
                            <p class="bottom-area d-flex">
                                <span><i class="icon-map-o"></i> California, USA</span>
                                <span class="ml-auto"><a href="#">Reservalo</a></span>
                            </p>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </section>

    <section class="ftco-section testimony-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <h2 class="mb-4">Nuestros clientes satisfechos dicen</h2>
                    <p>La mayoria de nuestros cliente se toman el tiempo para cuestionar nuestros servicios, la mayoria siempre tiene un enfoque constructivo pero siempre agradeciendo todo el paquete que se le entrego. Muchas gracias ☺</p>
                </div>
            </div>
            <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel ftco-owl">
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url(assets/img/person_3.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p class="mb-5">Agradecido con todo la reservacion , una atencion de primera y en verdad que con mi familia hemos recibido una satisfaccion enorme con toda la puntualidad del caso. No tengo duda que llegaran muy lejos con el sistema. Un consejo hagan el aplicativo</p>
                                    <p class="name">Piero meiggs</p>
                                    <span class="position">Jefe de Sistemas</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url(assets/img/person_2.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p class="mb-5">Felicitaciones por toda la gestion de mi reserva a Colombia, recibi de parte del hotel un descuento que no estaba incluido y eso era porque recibia la atencion por ustedes. Muy agradecido.</p>
                                    <p class="name">Junior Huallullo</p>
                                    <span class="position">Desarrollador Web</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url(assets/img/person_1.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p class="mb-5">La plataforma es muy estable , no encuentro fallas en el proceso de registrar una reserva, tengo la duda si es que existiran mas destinos, debido a que como trabajo viajando necesito algunas nuevas rutas para comercializar mis proyectos.</p>
                                    <p class="name">Juan Carlos Verde</p>
                                    <span class="position">UI Diseñador</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url(assets/img/person_4.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p class="mb-5">Hasta ahora es mi quinto viaje y destaco lo respetuoso que han sido conmigo , debido a que al momento de hacer el check-in tuve problemas y por parte de la empresa ResPaq tuve el asesoramiento debido antes de realizar mi vuelo , algo que nunca he tenido. Muchas gracias.</p>
                                    <p class="name">Christian Rimay</p>
                                    <span class="position">Desarrollador Web</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url(assets/img/person_4.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p class="mb-5">En todo el proceso la solicitud del auto fueron muy puntuales al momento de registrar y apoyarme en el servicio de la documentacion debido a que tengo otra nacionalidad tuve ciertos detalles pero gracias al asesoramiento via llamada fue un exito.</p>
                                    <p class="name">Carlos Tupia</p>
                                    <span class="position">Analista de Sistemas</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h2 class="mb-4">Renta de Autos</h2>
                </div>
            </div>
            <div class="row">
                @*<div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="destination">
                        <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/auto-1.jpg);">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-link"></span>
                            </div>
                        </a>
                        <div class="text p-3">
                            <h3><a href="#">Toyota Yaris 2018</a></h3>
                            <p class="rate">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star-o"></i>
                                <span>8 Rating</span>
                            </p>
                            <p>Incluye 4 asientos, GNV , Radio LED y Aire Acondicionado</p>
                            <hr>
                            <p class="bottom-area d-flex">
                                <span><i class="icon-map-o"></i> Bogota, CO</span>
                                <span class="ml-auto"><a href="#">Rentalo</a></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="destination d-md-flex flex-column-reverse">
                        <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/auto-2.jpg);">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-link"></span>
                            </div>
                        </a>
                        <div class="text p-3">
                            <h3><a href="#">Hyundai i30</a></h3>
                            <p class="rate">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star-o"></i>
                                <i class="icon-star-o"></i>
                                <span>7 Rating</span>
                            </p>
                            <p>Incluye 4 asientos, GLP y Aire Acondicionado</p>
                            <hr>
                            <p class="bottom-area d-flex">
                                <span><i class="icon-map-o"></i> California, USA</span>
                                <span class="ml-auto"><a href="#">Rentalo</a></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="destination">
                        <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/auto-3.jpg);">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-link"></span>
                            </div>
                        </a>
                        <div class="text p-3">
                            <h3><a href="#">Kia Sportage</a></h3>
                            <p class="rate">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star-o"></i>
                                <span>8 Rating</span>
                            </p>
                            <p>Incluye 4 asientos, GNV , Radio LED y Aire Acondicionado</p>
                            <hr>
                            <p class="bottom-area d-flex">
                                <span><i class="icon-map-o"></i> Lima, PE</span>
                                <span class="ml-auto"><a href="#">Rentalo</a></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="destination d-md-flex flex-column-reverse">
                        <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(assets/img/auto-4.jpg);">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-link"></span>
                            </div>
                        </a>
                        <div class="text p-3">
                            <h3><a href="#">BMW M3</a></h3>
                            <p class="rate">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <span>10 Rating</span>
                            </p>
                            <p>Incluye 4 asientos, GNV , Radio LED y Aire Acondicionado</p>
                            <hr>
                            <p class="bottom-area d-flex">
                                <span><i class="icon-map-o"></i> Paris, FR</span>
                                <span class="ml-auto"><a href="#">Rentalo</a></span>
                            </p>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </section>

</div>

