﻿@{
    Layout = "~/Views/Shared/_styles.cshtml";
}
<script src="~/assets/js/admin/pais_form.js"></script>
<input type="hidden" id="idUsuario_hid" value="@HttpContext.Current.Session["IdUsuario"].ToString()" />
<div class="hero-wrap js-fullheight" style="background-image: url('../../assets/img/map-2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="../Admin/lista_admin">Inicio</a></span> <span>Registro de Pais</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Pais</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">
        <div class="row" id="form_pais_new">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-sm-12">
                        <h2 class="h4 text-center">Registro de Pais</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-12 control-label">Nombre :</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control required" id="pa_nombre">
                        <input type="hidden" id="pa_id" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 input-position text-right">
                <div class="form-group">
                    <div class="col-sm-12">
                        <br />
                        <button class="btn btn-secondary" onclick="javascript: history.back();">Regresar</button>
                        @if (@Request.Params["id"] == null)
                        {
                            <button class="btn btn-primary" onclick="NewPais()">Registrar</button>
                        }
                        else
                        {
                            <button class="btn btn-primary" onclick="UpdatePais()">Actualizar</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
