﻿@{
    Layout = "~/Views/Shared/_styles.cshtml";
}
<script src="~/assets/js/admin/usuario_form.js"></script>
<input type="hidden" id="idUsuario_hid" value="@HttpContext.Current.Session["IdUsuario"].ToString()" />
<div class="hero-wrap js-fullheight" style="background-image: url('../../assets/img/user-2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="../Admin/lista_admin">Inicio</a></span> <span>Registro de Usuario</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Usuario</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">
        <div class="row" id="form_usuario_new">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-sm-12">
                        <h2 class="h4 text-center">Registro de Usuario</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-12 control-label">Usuario :</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control required" id="us_login">
                        <input type="hidden" id="us_id" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-12 control-label">Password :</label>
                    <div class="col-sm-12">
                        <input type="password" class="form-control required" id="us_pass">
                    </div>
                </div>
            </div>
            <div class="col-md-12 input-position text-center">
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label my-label">Tipo de Usuario</label>
                    <div class="col-sm-12 required-radio">
                        <label>
                            <input id="radCliente" type="radio" name="us_tipoUsuario" value="2">
                            Cliente
                        </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label>
                            <input id="radProveedor" type="radio" name="us_tipoUsuario" value="3">
                            Proveedor
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4 tb_cliente">
                <div class="form-group">
                    <label class="col-sm-12 control-label">Doc Identidad :</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control numeric" id="us_docIdentidad">
                    </div>
                </div>
            </div>
            <div class="col-md-4 tb_cliente">
                <div class="form-group">
                    <label class="col-sm-12 control-label">Nombres :</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="us_nombre">
                    </div>
                </div>
            </div>
            <div class="col-md-4 tb_cliente">
                <div class="form-group">
                    <label class="col-sm-12 control-label">Apellidos :</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="us_apellido">
                    </div>
                </div>
            </div>
            <div class="col-md-6 tb_proveedor" style="display:none;">
                <div class="form-group">
                    <label class="col-sm-12 control-label">RUC :</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control numeric" maxlength="11" id="us_docIdentidad_ruc">
                    </div>
                </div>
            </div>
            <div class="col-md-6 tb_proveedor" style="display:none;">
                <div class="form-group">
                    <label class="col-sm-12 control-label">Razon Social :</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="us_razonSocial">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-12 control-label">Direccion :</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="us_direccion">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-12 control-label">Email :</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="us_email">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-12 control-label">Telefono :</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="us_telefono">
                    </div>
                </div>
            </div>
            <div class="col-md-12 input-position text-right">
                <div class="form-group">
                    <div class="col-sm-12">
                        <br />
                        <button class="btn btn-secondary" onclick="javascript: history.back();">Regresar</button>
                        <button id="btn_save_usuario" class="btn btn-primary" onclick="UpdateUsuario()">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
