﻿@{
    Layout = "~/Views/Shared/_styles.cshtml";
}
<div class="hero-wrap js-fullheight" style="background-image: url('../../assets/img/fondo-admin.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="../Admin/lista_admin">Inicio</a></span> <span>Menu Principal</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Menu Principal</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 text-center ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="../Admin/lista_usuario" class="block-20" style="background-image: url('../../assets/img/user.jpg');">
                    </a>
                    <div class="text">
                        <span class="tag">Tips, Travel</span>
                        <h3 class="heading mt-3 mb-0"><a href="../Admin/lista_usuario">Administración de Usuarios</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">Admin</a></div>
                            <div><a href="../Admin/lista_usuario" class="meta-chat"><span class="icon-chat"></span> 2 Actualizaciones</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="../Admin/lista_pais" class="block-20" style="background-image: url('../../assets/img/map.jpg');">
                    </a>
                    <div class="text">
                        <span class="tag">Paises</span>
                        <h3 class="heading mt-3 mb-0"><a href="../Admin/lista_pais">Administración de Paises</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">Admin</a></div>
                            <div><a href="../Admin/lista_pais" class="meta-chat"><span class="icon-chat"></span> 3 Actualizaciones</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="../Admin/lista_ciudad" class="block-20" style="background-image: url('../../assets/img/city.jpg');">
                    </a>
                    <div class="text">
                        <span class="tag">Ciudades</span>
                        <h3 class="heading mt-3 mb-0"><a href="../Admin/lista_ciudad">Administración de Ciudades</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">Admin</a></div>
                            <div><a href="../Admin/lista_ciudad" class="meta-chat"><span class="icon-chat"></span> 12 Actualizaciones</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="../Admin/lista_destino" class="block-20" style="background-image: url('../../assets/img/city.jpg');">
                    </a>
                    <div class="text">
                        <span class="tag">Destino</span>
                        <h3 class="heading mt-3 mb-0"><a href="../Admin/lista_destino">Administración de Destinos</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">Admin</a></div>
                            <div><a href="../Admin/lista_destino" class="meta-chat"><span class="icon-chat"></span> 7 Actualizaciones</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>