﻿@{
    Layout = "~/Views/Shared/_styles.cshtml";
}
<script src="~/assets/js/admin/ciudad.js"></script>
<input type="hidden" id="idUsuario_hid" value="@HttpContext.Current.Session["IdUsuario"].ToString()" />
<div class="hero-wrap js-fullheight" style="background-image: url('../../assets/img/city-2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="../Admin/lista_admin">Inicio</a></span> <span>Lista de Ciudades</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Ciudades</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container-fluid mr-md-4 ml-md-4">
        <div class="row" id="form_ciudad_new">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-sm-12">
                        <h2 class="h4 text-center">Lista de Ciudades</h2>
                        <a class="btn btn-primary" href="../Admin/form_ciudad">Nuevo <i class="fa fa-plus"></i></a>
                        <a class="btn btn-info float-right mr-3" onclick="javascript: history.back();">Regresar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 table-responsive">
                <div class="form-group">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-striped" id="tblListaCiudad" style="width:100%;overflow-x:scroll;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
